.container {
    position:absolute;
    left:0;
    top:100px;
    background-image: url(../images/gurez-by-kashif-pathan.jpg);
    width: 100%;
    height:100%;
    background-size:cover;

}

#title{
    position: relative;
    top:40%;
    color:rgb(231, 213, 213);
    text-shadow: 5px 5px 5px #000;
    text-align:center;
    font-size: 3.5rem;

}